*
!*/

# java
# Example java/hamming/src/main/java/Hamming.java
!*.java
!java/*/src/*

#Javascript
# Example javascript/space-age/space-age.js
!*.js
!javascript/*/*.js
!javascript/*/*.json
javascript/*/node_modules/*



